<p class='information'>
  <%= notice %>
</p>
<h1>Books</h1>
<table>
  <thread>
    <tr>
      <th>Title</th>
      <th>body</th>
      <th colspan="3"></th>
    </tr>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'show', book_path(book.id) %></td>
        <td><%= link_to 'edit', {controller: 'books', action:'edit',id: book.id} %></td>
        <td><%= link_to 'delete', {controller: 'books', action: 'destroy', id: book.id}, method: :delete, "data-confirm" => "Are you sure?" %></td>
      </tr>
      <% end %>
    </tbody>
  </thread>
</table>

<h2>New book</h2>
<% if @book.errors.any? %>
<p class ="error-count">
<%= @book.errors.count %> errors prohibited this book from being saved:
</p>
  <div class = 'alert alert-warning'>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%=message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @book, url:'/books', local:true do |f| %>

  <div class="input">
    <label>Title</label>
    <div class='title'><%= f.text_field :title %></div>
    <label>body</label>
    <div><%= f.text_area :body %></div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>

