<p class='information'>
  <%= notice %>
</p>
<div class='main'>
  <p>
    <strong>Title</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body</strong>
    <%= @book.body %>
  </p>
</div>
<div class='main, bottom'>
  <%= link_to 'Edit', {:action=>"edit", :controller=>"books", :id=>@book.id} %>
  |
  
  <%= link_to 'Back', "/books" %>
</div>
